@font-face {
  font-family: "DroidSansRegular";
  src: url("/font/droidsans/droidsans.eot");
  src: url("/font/droidsans/droidsans.eot?#iefix") format("embedded-opentype"), url("/font/droidsans/droidsans.woff") format("woff"), url("/font/droidsans/droidsans.ttf") format("truetype"), url("/font/droidsans/droidsans.svg#DroidSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DroidSansBold";
  src: url("/font/droidsans/droidsans-bold.eot");
  src: url("/font/droidsans/droidsans-bold.eot?#iefix") format("embedded-opentype"), url("/font/droidsans/droidsans-bold.woff") format("woff"), url("/font/droidsans/droidsans-bold.ttf") format("truetype"), url("/font/droidsans/droidsans-bold.svg#DroidSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
